In [ ]:
AUTHOR_ID - the ID of the author  #au_id '.authors' key= au_id
LAST_NAME - author last name    #au_lname '.authors'
FIRST_NAME - author first name   #au_fname '.authors'
TITLE - name of the published title  #title '.titles'  key= title_id , pub_id
PUBLISHER - name of the publisher   #pub_name  '.publishers'  key=  pub_id
                                    #titleauthor '.titleauthor'  key= title_id, au_id


`ironhack-data-analytics-265219.publications`

first, join author_id with title

In [52]:
import os
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Sosa/Downloads/ironhack_service_account_big_query.json"

In [53]:
client = bigquery.Client()

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a SELECT query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

AUTHOR_ID - the ID of the author

LAST_NAME - author last name


FIRST_NAME - author first name

TITLE - name of the published title

PUBLISHER - name of the publisher where the title was published

In [54]:
sql= '''

SELECT
    authors.au_id AS Author_ID,
    authors.au_fname AS Name,
    authors.au_lname AS Surname,
    titles.title AS Title,
    publishers.pub_name AS Publisher,
    

FROM
    `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
    
    
JOIN
    `ironhack-data-analytics-265219.publications.authors` authors
ON
    titleauthor.au_id = authors.au_id
    
    
JOIN
    `ironhack-data-analytics-265219.publications.titles` titles
ON
    titleauthor.title_id = titles.title_id
    
    
JOIN
    `ironhack-data-analytics-265219.publications.publishers` publishers
ON
    titles.pub_id = publishers.pub_id
    
ORDER BY
    Author_ID ASC
    

'''

In [55]:
query_job = client.query(query= sql)
query_job.to_dataframe()

,Author_ID,Name,Surname,Title,Publisher
0,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
5,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley
6,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems
7,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems
8,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems
9,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley
10,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books
11,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems
12,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
13,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley
14,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley
15,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley
16,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
17,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
18,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
19,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
20,846-92-7186,Sheryl,Hunter,Secrets of Silicon Valley,Algodata Infosystems
21,899-46-2035,Anne,Ringer,Is Anger the Enemy?,New Moon Books
22,899-46-2035,Anne,Ringer,The Gourmet Microwave,Binnet & Hardley
23,998-72-3567,Albert,Ringer,Is Anger the Enemy?,New Moon Books
24,998-72-3567,Albert,Ringer,Life Without Fear,New Moon Books

## Challenge 2 - Who Have Published How Many At Where?
Elevating from your solution in Challenge 1, query how many titles each author has published at each publisher.

In [70]:
sql= '''

SELECT
    authors.au_id AS Author_ID,
    authors.au_fname AS Name,
    authors.au_lname AS Surname,
    publishers.pub_name AS Publisher,
    COUNT(titles.title_id) AS Count,
    

FROM
    `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
    
    
JOIN
    `ironhack-data-analytics-265219.publications.authors` authors
ON
    titleauthor.au_id = authors.au_id
    
    
JOIN
    `ironhack-data-analytics-265219.publications.titles` titles
ON
    titleauthor.title_id = titles.title_id
    
    
JOIN
    `ironhack-data-analytics-265219.publications.publishers` publishers
ON
    titles.pub_id = publishers.pub_id
    
    
GROUP BY
    1,2,3,4
    
ORDER BY
    authors.au_id DESC
    

    

'''

In [71]:
query_job = client.query(query= sql)
query_job.to_dataframe()

      Author_ID      Name         Surname             Publisher  Count
0   998-72-3567    Albert          Ringer        New Moon Books      2
1   899-46-2035      Anne          Ringer        New Moon Books      1
2   899-46-2035      Anne          Ringer      Binnet & Hardley      1
3   846-92-7186    Sheryl          Hunter  Algodata Infosystems      1
4   807-91-6654    Sylvia        Panteley      Binnet & Hardley      1
5   756-30-7391     Livia          Karsen      Binnet & Hardley      1
6   724-80-9391   Stearns      MacFeather      Binnet & Hardley      1
7   724-80-9391   Stearns      MacFeather  Algodata Infosystems      1
8   722-51-5454    Michel        DeFrance      Binnet & Hardley      1
9   712-45-1867     Innes    del Castillo      Binnet & Hardley      1
10  672-71-3249     Akiko        Yokomoto      Binnet & Hardley      1
11  648-92-1872  Reginald  Blotchet-Halls      Binnet & Hardley      1
12  486-29-1786  Charlene        Locksley        New Moon Books      1
13  486-29-1786  Charlene        Locksley  Algodata Infosystems      1
14  472-27-2349      Burt      Gringlesby      Binnet & Hardley      1
15  427-17-2319       Ann            Dull  Algodata Infosystems      1
16  409-56-7008   Abraham          Bennet  Algodata Infosystems      1
17  274-80-9391      Dean        Straight  Algodata Infosystems      1
18  267-41-2394   Michael         O'Leary  Algodata Infosystems      1
19  267-41-2394   Michael         O'Leary      Binnet & Hardley      1
20  238-95-7766    Cheryl          Carson  Algodata Infosystems      1
21  213-46-8915  Marjorie           Green  Algodata Infosystems      1
22  213-46-8915  Marjorie           Green        New Moon Books      1
23  172-32-1176   Johnson           White        New Moon Books      1

## Challenge 3 - Best Selling Authors
Who are the top 3 authors who have sold the highest number of titles? Write a query to find out.

Your output should have the following columns:

AUTHOR_ID - the ID of the author

LAST_NAME - author last name

FIRST_NAME - author first name

TOTAL - total number of titles sold from this author

Your output should be ordered based on TOTAL from high to low.
Only output the top 3 best selling authors.

In [80]:
sql= '''

SELECT
    authors.au_id AS Author_ID,
    authors.au_fname AS Name,
    authors.au_lname AS Surname,
    SUM(sales.qty) AS Total
    

FROM
    `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
    
    
JOIN
    `ironhack-data-analytics-265219.publications.authors` authors
ON
    titleauthor.au_id = authors.au_id
    
    
JOIN
    `ironhack-data-analytics-265219.publications.titles` titles
ON
    titleauthor.title_id = titles.title_id
    
    
JOIN
    `ironhack-data-analytics-265219.publications.sales` sales
ON
    titles.title_id = sales.title_id
    
    
GROUP BY
    1,2,3
    
ORDER BY
    Total DESC

LIMIT 3
    

    

'''

In [81]:
query_job = client.query(query= sql)
query_job.to_dataframe()

     Author_ID      Name Surname Total
0  899-46-2035      Anne  Ringer   148
1  998-72-3567    Albert  Ringer   133
2  213-46-8915  Marjorie   Green    50

## Challenge 4 - Best Selling Authors Ranking
Now modify your solution in Challenge 3 so that the output will display all 23 authors instead of the top 3. 

Note that the authors who have sold 0 titles should also appear in your output (ideally display 0 instead of NULL as the TOTAL). 

Also order your results based on TOTAL from high to low.

In [86]:
sql= '''

SELECT
    authors.au_id AS Author_ID,
    authors.au_fname AS Name,
    authors.au_lname AS Surname,
    COALESCE(SUM(sales.qty), 0) AS Total
    

FROM
    `ironhack-data-analytics-265219.publications.authors` authors
    
    
LEFT JOIN
    `ironhack-data-analytics-265219.publications.titleauthor` titleauthor
ON
    authors.au_id = titleauthor.au_id
    
    
LEFT JOIN
    `ironhack-data-analytics-265219.publications.titles` titles
ON
    titleauthor.title_id = titles.title_id
    
    
LEFT JOIN
    `ironhack-data-analytics-265219.publications.sales` sales
ON
    titles.title_id = sales.title_id
    
    
GROUP BY
    1,2,3
    
ORDER BY
    Total DESC


    

'''

In [87]:
query_job = client.query(query= sql)
query_job.to_dataframe()

      Author_ID         Name         Surname Total
0   899-46-2035         Anne          Ringer   148
1   998-72-3567       Albert          Ringer   133
2   846-92-7186       Sheryl          Hunter    50
3   427-17-2319          Ann            Dull    50
4   213-46-8915     Marjorie           Green    50
5   724-80-9391      Stearns      MacFeather    45
6   267-41-2394      Michael         O'Leary    45
7   807-91-6654       Sylvia        Panteley    40
8   722-51-5454       Michel        DeFrance    40
9   238-95-7766       Cheryl          Carson    30
10  486-29-1786     Charlene        Locksley    25
11  672-71-3249        Akiko        Yokomoto    20
12  756-30-7391        Livia          Karsen    20
13  472-27-2349         Burt      Gringlesby    20
14  648-92-1872     Reginald  Blotchet-Halls    20
15  172-32-1176      Johnson           White    15
16  274-80-9391         Dean        Straight    15
17  409-56-7008      Abraham          Bennet    15
18  712-45-1867        Innes    del Castillo    10
19  527-72-3246  Morningstar          Greene     0
20  341-22-1782      Meander           Smith     0
21  724-08-9931         Dirk        Stringer     0
22  893-72-1158      Heather        McBadden     0